<script lang="ts">
import DLsiteUploady from "./dlsite/DLsiteUploady.svelte";

const uploadyMap = {
  dlsite: { name: "DLsite", uploady: DLsiteUploady },
} as const;
const enabledUploadyList = ["dlsite"] as const;

type UploadyIds = keyof typeof uploadyMap | undefined;
let activeUploadyId: UploadyIds = enabledUploadyList[0];
$: activeUploady = activeUploadyId ? uploadyMap[activeUploadyId].uploady : null;
</script>

<div class="uploady-wrapper">
  <select
    class="uploady-select"
    name="uploady-select"
    bind:value={activeUploadyId}
  >
    {#each enabledUploadyList as id}
      <option value={id}>{uploadyMap[id].name}</option>
    {/each}
  </select>
  <svelte:component this={activeUploady} />
</div>

<style global>
/* No default styling for disabled buttons for some reason. */
input[type="button"]:disabled {
  background-color: #767676;
  box-shadow: none;
  color: #d5d4d4;
}
</style>
