<script lang="ts">
import { slide } from "svelte/transition";
import { searchCode } from "./searchCode";

/** Input reference. */
let searchbar: HTMLInputElement;
/** Value of the input. */
let code = "";
/** Link to the game's English page. */
let link = "",
  /** Game's title in kana. */
  kana: string | null = "",
  /** Error message. */
  error = "";
let searchDisabled = false;
let showMessage = false;
let messageHasContent = false;

function* set<T>(value: T) {
  while (true) {
    yield value;
  }
}

async function searchButtonClick() {
  [link, kana, error] = set("");
  showMessage = false;
  searchDisabled = true;
  messageHasContent = false;
  try {
    const result = await searchCode(code.trim().toUpperCase());
    ({ link, kana } = result);
    searchbar.addEventListener("input", () => (searchDisabled = false), {
      once: true,
    });
  } catch (err) {
    searchDisabled = false;
    if (err instanceof Error) {
      error = err.message;
      noty({
        text: error,
        type: "error",
      });
    }
    throw err;
  } finally {
    showMessage = true;
    messageHasContent = true;
  }
}
</script>

<div class="uploady dlsite-uploady">
  <div class="uploady-searchbar-area">
    <input
      class="uploady-searchbar"
      bind:value={code}
      type="text"
      size="8"
      placeholder="DLsite code"
      bind:this={searchbar}
    />
    <input
      class="uploady-search-button"
      type="button"
      value="Search"
      disabled={searchDisabled}
      on:click={searchButtonClick}
    />
    {#if showMessage || messageHasContent}
      <input
        class="uploady-message-toggle"
        type="button"
        value={showMessage ? "Hide" : "Show"}
        on:click={() => (showMessage = !showMessage)}
      />
    {/if}
  </div>
  {#if showMessage}
    <p class="uploady-message" transition:slide>
      {#if !error}
        {#if link}
          <div class="dlsite-link">
            <a href={link} rel="noreferrer noopener" target="_blank">{link}</a>
          </div>
        {/if}
        {#if kana}
          <div class="dlsite-kana">Kana title: {kana}</div>
        {/if}
      {:else}
        <div class="dlsite-error">
          <strong class="important_text">{error}</strong>
        </div>
      {/if}
    </p>
  {/if}
</div>

<style global>
.uploady-searchbar-area {
  display: flex;
  flex-direction: row;
}

.uploady-searchbar-area > * {
  height: auto;
}

.uploady-message {
  padding: 0;
  margin: 0 5px;
}
</style>
